$fontcolor: #6c06ea;
$redcolor: #eb7260;
$headerbackgroundcolor: #00695c;
$violetcolor: #354458;
$blackcolor: #000000;
$inkcolor: #062F4F;
$posycolor: #813772;
$embercolor: #B82601;
$thfontcolor: #e57373;