@import "variables/_colors.scss";
body {
    margin: 5px auto;
    /* background: linear-gradient($headerbackgroundcolor, #ffffff); background-repeat: no-repeat;*/
}

.ParentContainer {}

.content {
    margin-top: 10px;
}