@import 'variables/_colors.scss';
.detailSection {
    padding: 5px;
    .row {
        margin: 20px 5px 10px 5px;
        border: solid 1px $headerbackgroundcolor;
        border-radius: 2px;
        background: linear-gradient(90deg, $headerbackgroundcolor, #fff);
        color: #fff;
    }
    .row:hover {
        box-shadow: 5px 5px 5px rgba(#000, 0.2);
        transition: all linear 0.2s;
    }
}

.editSection {
    margin-top: 25px;
    box-shadow: 5px 5px 5px rgba(#000, 0.6);
    padding-bottom: 25px;
    padding-top: 25px;
    transition: all linear 0.5s;
    border: solid 1px #000;
}